<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>title</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="container">
				<template v-if="!choosed">
					<h3>Choose <span v-if="!userPlayer">Player</span><span v-else>Enemy</span>:</h3>
					<div v-for="player in players" v-if="!player.choosed">
						<button @click="choosePlayer(player)">
							{{player.name}}
						</button>
						<a href="javascript:;" @click="player.showInfo = !player.showInfo">info <span v-if="player.showInfo">&#8593;</span><span v-else>&#8595;</span></a>
						<ul v-if="player.showInfo">
							<li v-for="(value, key) in player"><mark>{{key}}:</mark> {{value}}</li>
						</ul>
					</div>
				</template>
				<div v-else class="text-center mt-5">
					<div class="row">
						<div class="col-5 d-flex flex-column">
							<h2>{{userPlayer.name}}</h2>
							<div class="d-flex flex-column align-items-center justify-content-between" style="flex-grow: 2;">
								<div class="progress" style="width: 100%;">
									<div class="progress-bar bg-success" role="progressbar" :style="{width: userPlayer.health/userPlayer.healthInit*100+'%'}" :aria-valuenow="userPlayer.health" aria-valuemin="0" :aria-valuemax="userPlayer.healthInit">{{userPlayer.health}}</div>
								</div>
								<template v-if="!fightEnds">
									<button class="btn btn-danger my-3" @click="attack(userPlayer,robotPlayer)">Hit Enemy</button>
									<button class="btn btn-info my-3" @click="heal(userPlayer)" :disabled="userPlayer.energy < userPlayer.healCost">
										Heal:
										<small>{{userPlayer.healCost}} energy</small>
									</button>
									<button class="btn btn-primary my-3" @click="attack(userPlayer,robotPlayer, true)" :disabled="userPlayer.energy < userPlayer.specialCost">
										{{userPlayer.specialName}}:
										<small>{{userPlayer.specialCost}} energy</small>
									</button>
									<div style="width: 100%;">
										<h5>Energy: {{userPlayer.energy}}</h5>
										<div class="progress">
											<div class="progress-bar bg-info" role="progressbar" :style="{width: userPlayer.energy/userPlayer.maxEnergy*100 + '%' }" :aria-valuenow="userPlayer.energy" aria-valuemin="0" :aria-valuemax="userPlayer.maxEnergy"></div>
										</div>
									</div>
								</template>
							</div>
						</div>
						<div class="col-2 d-flex flex-column align-items-center justify-content-between"><h2>vs</h2></div>
						<div class="col-5 d-flex flex-column">
							<h2>{{robotPlayer.name}}</h2>
							<div class="d-flex flex-column align-items-center justify-content-between" style="flex-grow: 2;">
								<div class="progress" style="width: 100%;">
									<div class="progress-bar bg-success" role="progressbar" :style="{width: robotPlayer.health/robotPlayer.healthInit*100+'%'}" :aria-valuenow="robotPlayer.health" aria-valuemin="0" :aria-valuemax="robotPlayer.healthInit">{{robotPlayer.health}}</div>
								</div>
								<div v-if="!fightEnds" style="width: 100%;">
									<h5>Energy: {{robotPlayer.energy}}</h5>
									<div class="progress">
										<div class="progress-bar bg-info" role="progressbar" :style="{width: robotPlayer.energy/robotPlayer.maxEnergy*100 + '%' }" :aria-valuenow="robotPlayer.energy" aria-valuemin="0" :aria-valuemax="robotPlayer.maxEnergy"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-4 offset-4">
							<h3 class="mt-5">Log:</h3>
							<ul class="log list-group" style="max-height: 300px; overflow: auto; display: block;">
								<li class="list-group-item" v-for="value in fightLog">{{value}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="app.js"></script>
</html>
